@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import "reset";
@import "colors";

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.7rem;
	line-height: 1.45;
	color: $black;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 25px;
}

h1 {
	font-size: 4.4rem;
	font-weight: bold;
}

h3 {
	span {
		color: $gray-light;
		a {
			color: $gray-light;
			text-decoration: none;

			&:hover {
				color: $blue;
				text-decoration: underline;
			}
		}
	}
}

