<!DOCTYPE html>
<html>
    <head>
        <title>Meetup</title>
        <link rel="stylesheet" type="text/css" href="dist/js/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="container">
        <div id="container"></div>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="dist/js/bundle.js"></script>
    </body>
</html>